.like-given {
    filter: brightness(130%);
    border: none;
    outline: none;
  }
  
  .like-given:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .cart-btn {
    margin-right: 10px;
  }

  .kit-buttons {
    margin-bottom: 10px;
  }