.hero {
  background-image: url('https://img.freepik.com/free-vector/white-and-gold-geometric-pattern-background-vector_53876-140726.jpg?w=1380&t=st=1680619940~exp=1680620540~hmac=dc07cae193c0dd0ce846cae1c75bc1317433e3179d897a7e6e77adf2d8f00f3d');
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  max-width: 30px;
  height: auto;
}